<section data-ng-controller = "blog" data-ng-init = "list()">

	<div  data-ng-repeat = "blog in blogs">
		<div id = "blog">
			<div class = "blogName">
				<span>{{blog.blogName}}</span>
			</div>
			<div class = "action-buttons">
				<i class="btn fa fa-trash fa-lg" data-ng-click = "delete(blog.blogID)"></i>
				<i class = "btn fa fa-pencil fa-lg" data-ng-click = "anchorForm(blog)"></i>
			</div>
			<div class = "postTime">
				<span>{{blog.postTime}}</span>			
				</div>

			<div class = "blogContent">
				<span>{{blog.blogContent}}</span>			
				</div>
		</div>
	</div>
	           <fieldset id = "form" name = "form">
	                <div class="form-group">
	                    <label class="control-label" for="headline">Headline</label>
	                    <div class="controls">
	                        <input type="text" data-ng-model="blogName" name="blogName" id="blogName" class="form-control" placeholder="Name" required />
	                    </div>
	                </div>
	                <div class="form-group">
	                    <label class="control-label">Tags</label>
	                    <div class="controls">
	                        <input type="text" data-ng-model="blogTag" name="blogTag" id="blogTag" class="form-control" placeholder="tags" required />
	                    </div>
	                </div>  
					<label class="control-label" for="content">content</label>
					<div class="controls">
						<div>
							<textarea data-ng-model="blogContent" name="blogContent"  id="blogContent" class="form-control" cols="30" rows="10" placeholder="Your content"></textarea>
						</div>
					</div>	           
	            </fieldset>
	       	    <button type="button" data-ng-hide = "isEditing"  class="btn btn-primary" data-ng-click = "create()">Create</button>
	       	    <button type="button" data-ng-show = "isEditing" class="btn btn-primary" data-ng-click = "edit()">Edit</button>	       	    

</section>