<section>
	<img id = "rotateCircle" src="public/model/img/google-circle.png">

	<div id = "rotateButton">
		<div data-degree = "0"class = "btn btn-info deg0">button A</div>
		<div data-degree = "45" class = "btn btn-info deg45">button B</div>
		<div data-degree = "90" class = "btn btn-info deg90">button C</div>
		<div data-degree = "135" class = "btn btn-info deg135">button D</div>
		<div data-degree = "180" class = "btn btn-info deg180">button E</div>
		<div data-degree = "225" class = "btn btn-info deg225">button F</div>
		<div data-degree = "270" class = "btn btn-info deg270">button G</div>
		<div data-degree = "315" class = "btn btn-info deg315">button H</div>

	</div>

	<script type="text/javascript" src = "public/model/jquery/rotate.js"></script>

</section>